.oid-box {
    height: 38px; /* Butonun yüksekliğiyle aynı */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px; /* İçerik için yatay boşluk */
    font-size: 14px; /* Yazı boyutu */
    border-radius: 4px; /* Köşeleri yuvarlat */
    margin-left: 8px; /* Buton ile kutu arasında boşluk */
  }